body, html {
  height: 100%;
}
body, ul, li, i {
  font-style: normal;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
body {
  color: rgb(51, 51, 51);
  font: 14px/1.14 "Hiragino Sans GB", "Microsoft YaHei", 微软雅黑, tahoma, arial, simsun, 宋体;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: rgb(51, 51, 51);
  background-color: rgb(255, 255, 255);
}
body {
  margin: 0px;
}
a{
  text-decoration: none;
  color: #333;
}
*{
  box-sizing:border-box;
}
